@model CodeMirrorViewModel
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel=stylesheet href="/doc/docs.css">
    <link rel="stylesheet" href="/lib/codemirror.css">
    <link rel="stylesheet" href="/addon/hint/show-hint.css">
    <link rel="stylesheet" href="/addon/fold/foldgutter.css" />
    <link href="/css/amp.min.css" rel="stylesheet" />
    <script src="/lib/codemirror.js"></script>
    <script src="/lib/util/formatting.js"></script>
    <script src="/addon/fold/foldcode.js"></script>
    <script src="/addon/fold/foldgutter.js"></script>
    <script src="/addon/fold/brace-fold.js"></script>
    <script src="/addon/fold/xml-fold.js"></script>
    <script src="/addon/fold/indent-fold.js"></script>
    <script src="/addon/fold/markdown-fold.js"></script>
    <script src="/addon/fold/comment-fold.js"></script>
    <script src="/addon/hint/show-hint.js"></script>
    <script src="/addon/hint/xml-hint.js"></script>
    <script src="/addon/hint/html-hint.js"></script>
    <script src="/mode/xml/xml.js"></script>
    <script src="/mode/javascript/javascript.js"></script>
    <script src="/mode/css/css.js"></script>
    <script src="/mode/htmlmixed/htmlmixed.js"></script>
    <style>
        .CodeMirror {
            border: 1px solid #eee;
        }
    </style>
</head>
<body style="background-color:white">
    <textarea id="myTextarea">@Model.DefaultValue</textarea>
    <div class="center">
        <button onclick="autoFormatSelection()" class="ampstart-btn ampstart-btn-secondary">
            Format
        </button>
        <button onclick="selectAll()" class="ampstart-btn ampstart-btn-secondary">
            Select All
        </button>
    </div>
    <script>
        var editor = CodeMirror.fromTextArea(myTextarea, {
            mode: "@Model.Mode",
            lineNumbers: true,
            lineWrapping: true,
            extraKeys: { "Ctrl-Q": function (cm) { cm.foldCode(cm.getCursor()); } },
            foldGutter: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
        });

        editor.setSize("100%", "80%");

        function getSelectedRange() {
            return { from: editor.getCursor(true), to: editor.getCursor(false) };
        }

        function selectAll() {
            editor.execCommand("selectAll")
        }

        function autoFormatSelection() {
            var range = getSelectedRange();
            editor.autoFormatRange({
                line: 0,
                ch: 0,
                sticky: null
            },

                {
                    line: editor.doc.size,
                    ch: 10000000000,
                    sticky: null
                });
        }

    </script>
</body>
</html>