@model HtmlFormat.Models.HomeViewModel

<!doctype html>
<html ⚡="" lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML Format</title>
    <link rel="canonical" href="https://www.htmlformat.org/">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="UA-43988280-10" content="googleanalytics">
    <partial name="_BoilerplateCssPartial.cshtml" />
    <partial name="_AmpCustomCssPartial.cshtml" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
    <script async="" src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-addthis" src="https://cdn.ampproject.org/v0/amp-addthis-0.1.js"></script>
</head>
<body>
    <amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-5FSSXC5&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>

    <header class="ampstart-headerbar flex justify-start items-center top-0 left-0 right-0 pl2 pr4 pt2 md-pt0">
        <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger  pr2 absolute top-0 pr0 mr2 mt2">
        </div>
        <a href="/" class="text-decoration-none inline-block mx-auto ampstart-headerbar-home-link mb1 md-mb0 ">
            <h1>
                @Model?.Title
            </h1>
        </a>
        <div class="ampstart-headerbar-fixed center m0 p0 flex justify-center nowrap absolute top-0 right-0 pt2 pr3">
            <div class="mr2">
            </div>
        </div>
    </header>

    <main id="content" role="main" class="center">
        <h2>
            @Model?.Description
        </h2>
        <amp-iframe width="auto"
                    height="400"
                    sandbox="allow-scripts"
                    layout="fixed-height"
                    src="https://localhost:44392/home/codemirror?guid={{guid}}">
            <amp-img layout="fill" src="https://localhost:44392/whiteimage.png" placeholder></amp-img>
        </amp-iframe>

        @*<form action-xhr="/home/format" method="post" class="mb2" on="submit-success:AMP.setState({ rawHtml: event.response.guid })">
            <textarea name="tbInput" [text]="rawHtml" id="tbInput" class="hljs xml mb2" style="width:100%;height:300px" placeholder="Paste your code or a URL here .."></textarea>
            <p class="mb2">
                <input type="submit" class="ampstart-btn ampstart-btn-secondary caps" value="Format" />
                <button name="btnClear" id="btnClear" class="ampstart-btn ampstart-btn-secondary caps" on="tap:AMP.setState({ rawHtml: '' })">Clear</button>
            </p>
            <div submit-success class="mb2">
                <template type="amp-mustache">
                    <amp-iframe width="auto"
                                height="600"
                                sandbox="allow-scripts"
                                layout="fixed-height"
                                src="https://localhost:44392/home/codemirror?guid={{guid}}">
                    </amp-iframe>
                </template>
            </div>
            <div submit-error class="mb2">
                <template type="amp-mustache">
                    Error !!!
                </template>
            </div>
        </form>*@
    </main>

    <footer class="center">
        <h3>Share us:</h3>
        <amp-addthis width="320" height="92" data-pub-id="ra-5e6d39d23591d1e6" data-widget-id="wcaj" data-widget-type="inline"></amp-addthis>
    </footer>
</body>
</html>
@RenderBody()